.btn {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 6px;
    transition: 0.1s;
    cursor: pointer;
    &:hover {
        background-color: #777;
    }
    &:active {
        background-color: #aaa;
    }
}
